<section class="mx-auto vh-100 d-flex justify-content-center align-items-center">
  <div class="w-50">
    <h1>Weathering</h1>

    <%= simple_form_for @forecast, url: "/", method: "get", wrapper: :vertical_form do |f| %>
      <%= f.input :address, class: "form-control",
                            label: false,
                            placeholder: "Enter address…",
                            input_html: { autofocus: true } %>
      <%= f.button :submit, "Get forecast", class: "btn btn-outline-light" %>
    <% end %>

    <div class="mt-2 text-center">
      <p>
        <% if @forecast.full_address %>
          <%= @forecast.full_address %>
        <% end %>
      </p>

      <p class="display-1">
        <% if @forecast.current_temperature_with_unit %>
          <%= @forecast.current_temperature_with_unit %>
        <% end %>
      </p>
    </div>
  </div>
</section>