<div class="col-lg-4 mx-auto">
  <h1>Forecasts</h1>

  <%= simple_form_for @forecast, url: "/", method: "get" do |f| %>
    <%= f.input :address, class: "form-control",
                          placeholder: "Enter address…",
                          input_html: { autofocus: true } %>
    <%= f.submit "Get forecast", class: "btn btn-primary" %>
  <% end %>

  <% if @forecast.address %>
    <%= @forecast.address %>
  <% end %>

  <% if @forecast.current_temperature_with_unit %>
    <%= @forecast.current_temperature_with_unit %>
  <% end %>
</div>